<div>
  <table class="table">
    <tr>
      <td><h2>Metodología</h2></td>      
    </tr>
    <tr>
      <td><img src="https://fluidsignal.files.wordpress.com/2016/11/metodologia.png?w=840" class="imgethical"></td>  
    </tr>
    <tr>
      <td><h2>Criterio</h2></td>
    </tr>
    <tr>
      <td><img src="https://fluidsignal.files.wordpress.com/2016/11/criterio.png?w=840" class="imgethical"></td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <td colspan="4"><h2>Entregables</h2></td>
    </tr>
    <tr>
      <td><h3><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_presentacion.png?w=60" class="imgentregable">Informe Ejecutivo</h3></td>
      <td><h3><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_perfiles.png?w=60" class="imgentregable">Informe Tecnico</h3></td>
      <td><h3><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_documentacion.png?w=60" class="imgentregable">Carpeta con Soluciones</h3></td>
      <td><h3><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_identificar.png?w=60" class="imgentregable">Carpeta con Evidencias</h3></td>
    </tr>
  </table>
</div>   
