.menu{
  background-color: #14598e;  
  width: 100%;  
  height: 50px;
  display: table;  
}
.nav{
  float: right;
  text-alight: center;
}
.ul{
  list-style: none;
}
.ul li{
  display: inline-block;
}
.ul li a{				
  color:#fff;
  text-decoration:none; 
  padding: 15px; 20px;
  font-size: 20px;
  font-family: "Ubuntu",sans-serif;
}
.ul li a:hover{
  background-color: #1d4f72;
}
.ul li:hover > ul{
  display: block;
}
.ul li ul{
  display:none;
  position:absolute;   
  width: 300px;
  top: 77px;
  left: 43%;  
}


