.menu{
  background-color: #1d4f72;  
  width: 100%;  
  display: table;    
}
.ul{
  list-style: none;
}
.ul li{
  display: inline-block;
}
.ul li a{				
  color:#fff;
  text-decoration:none;
  padding:15px 25px;  
  font-size: 20px;
  font-family: "Ubuntu",sans-serif;
}
.ul li ul{
  display:none;
  position:absolute;
  min-width:140px;
}
.ul li:hover > ul{
  display: block;
}
.ul li ul li{
  position: relative;
}

@media screen and (max-width:800px ) {     
  
  .nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
  }
  .nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}  
  .menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	} 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	} 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}
