@media only screen and (max-width: 768px)
  table
    border-collapse: collapse
    width: 100%
    tr .tdview
      height: 550px
      width: 100%
      display: block
      margin-left: 1px
      .divread
        bottom: 30px
  .post-preview
    > a
      > .post-title
        font-size: 20px        
      font-size: 14px
    .imgprev
      width: 15px
    > span
      font-size: 13px
    .article-summary
      font-size: 16px
      margin-top: 10px
      bottom: 55px
