@media only screen and (max-width: 768px)
  table
    order-collapse: collapse
    width: 100%
    tr .tdview
      height: 550px
      width: 93%
      display: block
      .divread
        bottom: 30px
  .post-preview
    > a
      > .post-title
        font-size: 20px        
      font-size: 14px
    .imgprev
      width: 15px
    > span
      font-size: 14px
    .article-summary
      font-size: 16px
